.action-button {
    width: 85px;
    font-weight: bold;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px;
    margin: 10px 0px 10px 5px;
    float: right;
    display: flex;
    justify-content: center;
}

.searchButton {
    background: blue;
    color: white;
}

searchButton:hover,
searchButton:focus {
    background-color: #311B92
}

.searchInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 10px 0px 10px 5px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}
